.header {
	background: white;
}
.topbar {
	padding: 0 ($gutter * 3);
	background: $blue;
		
	@media #{$small-only} {
		padding: 10px;
	}

	.topbar-logo {
		width: 64px;
		margin-bottom: 6px;
	}
	.topbar-nav {
		margin-bottom: 0;
		padding: 9px 10px;
	}
	.topbar-nav-item a{
		margin-right: 50px;
		color: white;
		font-size: 18px;
		
		&:hover {
			color: $grey;
		}
	}

	.topbar-nav-item a {

		&.information, &.portfolio, &.contact {
			position: absolute;
			font-size: 64px;
			margin: 0;
		}

		&.information {
			right: 135px;
			top: -30px;
		}
		&.portfolio {
			right: 75px;
			top: -27px;
		}
		&.contact {
			right: 15px;
			top: -25px;
		}
	}
}