grid {
	width: 100%;
}

.portfolio-grid {
	padding: 0;
	margin: 0;
	position: relative;
	
	.portfolio-grid-item {

		.portfolio-grid-item-link {
			display: block;
			height: 100%;
			width: 100%;
			color: black;
			font-size: 18px;
			position: relative;
			border-top: 5px solid white;
			&:hover {
				border-top: 5px solid $blue;
			}
		}

		.portfolio-grid-item-header {
			position: absolute;
			padding: 15px 25px;
			background: $blue;
			color: white;
			left: 0;
			right: 0;
			z-index: 10;
		}
		.portfolio-grid-item-img {
			&:hover {
				opacity: 0.3;
			}
		}
	}
}

.controls {
	font-size: 72px;
	position: absolute;
	top: 40%;

	&.prev {
		left: $gutter;
	}

	&.next {
		right: $gutter;
	}
}

@media #{$medium-up} {
	.controls {
		font-size: 96px;
	}
	
}
