.orbit-container {
	height: 100%;
}

.orbit-slides-container {
	height: $portfolioH - 75;

	@media #{$small-only} {
		height: $portfolioH - 500;
	}

	@media #{$medium-only} {
		height: $portfolioH - 250;
	}
}

.orbit-slide-number {
	display: none !important;
}

.orbit-caption {
	background: $blue !important;
	display: none !important;
}