grid {
	width: 100%;
}

.portfolio-grid {
	padding: 0;
	margin: 0;
	position: relative;
	
	.portfolio-grid-item {
		height: 250px;

		.portfolio-grid-item-header {
			background: $grey;
			display: block;
			height: 100%;
			width: 100%;
			color: black;
			font-size: 18px;
			padding: 10px 15px;
			border-top: 5px solid white;

			&:hover {
				border-top: 5px solid $blue;
				background-color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}

.controls {
	font-size: 72px;
	position: absolute;
	top: 40%;

	&.prev {
		left: $gutter;
	}

	&.next {
		right: $gutter;
	}
}

@media #{$medium-up} {
	.controls {
		font-size: 96px;
	}
	
}
