.portfolio {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: $gutter ($gutter * 2);
	background: white;
	
	.portfolio-list-item {
		height: 250px;

		.portfolio-list-item-header {
			background: #999;
			display: block;
			height: 100%;
			width: 100%;
			color: black;
			font-size: 18px;
			padding: 10px 15px;
			border-top: 5px solid white;

			&:hover {
				border-top: 5px solid $blue;
			}
		}
	}

	.controls {
		font-size: 32px;
	}
}