@font-face {
	font-family: 'entypo';
	src:url('../../app/assets/fonts/entypo/entypo.eot');
	src:url('../../app/assets/fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
		url('../../app/assets/fonts/entypo/entypo.svg') format('svg'),
		url('../../app/assets/fonts/entypo/entypo.woff') format('woff'),
		url('../../app/assets/fonts/entypo/entypo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}