<div class="orbit-container">
	<ul class="orbit-slides-container">
		<li class="active" ng-swipe-left="next()" ng-swipe-right="prev()">
			<img ng-src="{{currentItem.value}}">
			<div class="orbit-caption">
				<span>{{currentItem.caption}}</span>
			</div>
		</li>
	</ul>

	<div class="orbit-slide-number hide-for-small-only">
		<span>{{currentIndex + 1}}</span> of <span>{{items.length}}</span>
	</div>
	<!-- Orbit Bullet Slide Indicator -->
	<ol class="orbit-bullets">
		<li ng-repeat="item in items" ng-class="{active: isActive(item)}" ng-click="select(item)"></li>
	</ol>

</div>