.header {
	background: white;
}
.topbar {
	padding: 0 ($gutter * 2);
	background: $blue;

	@media #{$large-up} {
		margin: 0 $gutter;
	}
	
	.topbar-logo {
		width: 64px;
		margin-bottom: 6px;
	}
	.topbar-nav {
		margin-bottom: 0;
		padding: 10px;
	}
	.topbar-nav-item a{
		margin-right: 50px;
		color: white;
		
		&:hover {
			color: $grey;
		}
	}
}