.header {
	background: white;
}
.topbar {
	padding: 0 ($gutter * 2);
	background: $blue;
		
	@media #{$small-only} {
		padding: 10px;
	}

	@media #{$large-up} {
		margin: 0 $gutter;
	}
	@media #{$xxlarge-up} {
		margin: 0 ($gutter * 2);
	}
	.topbar-logo {
		width: 64px;
		margin-bottom: 6px;
	}
	.topbar-nav {
		margin-bottom: 0;
		padding: 9px 10px;
	}
	.topbar-nav-item a{
		margin-right: 50px;
		color: white;
		font-size: 18px;
		
		&:hover {
			color: $grey;
		}
	}

	.topbar-nav-item a {

		&.information, &.portfolio, &.contact {
			position: absolute;
			font-size: 64px;
			margin: 0;
		}

		&.information {
			right: 130px;
			top: -30px;
		}
		&.portfolio {
			right: 70px;
			top: -27px;
		}
		&.contact {
			right: 10px;
			top: -25px;
		}
	}
}