@import "../variables";

.hero {
	width: 100%;
	min-height: 94%;
	position: relative;
	background: purple;

	.hero-text {
		position: absolute;
		top: 35%;
		left: 10%;
		right: 10%;
		padding: 15px 20px;
		border-radius: 30px;
		background: $blue;
		color: white;
	}

	.hero-text--dynamic {
		color: $grey;
	}

	.hero-text, .hero-text--dynamic {
		text-shadow: 1px 0 $shadow;
	}

	.hero-controls {
		position: absolute;
		bottom: 15%;
		right: 10%;
		margin: 0;

		.hero-controls-item {
			padding: 0px 10px;
			margin: 0 0 0 2px;
			background: white;
			color: #888;
			font-size: 22px;
			font-weight: bold;
			&:hover {
				background: #999;
			}
		}
	}
}