/**
 * Place for custom variables values
 * Insert variables from /vendor/foundation/scss/foundation/_settings.scss
 * 
 */

// Foundation Overwrites
$row-width: rem-calc(40000);

// General
$gridPadding: 75px;
$heroH: 450px;
// Navigation
$topbarH: 35px;