@import "variables";
@import "topbar/topbar";
@import "hero/hero";
@import "info/info";
@import "portfolio/portfolio";
@import "contact/contact";
@import "footer/footer";

.lefteris {
	font-family: "entypo";
	font-size: 32px;
}

html, body {
	width: 100%;
	background: $grey;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main {
	height: 100%;

	@media #{$large-up} {
		padding: 0 $gutter;
	}
	@media #{$xxlarge-up} {
		padding: 0 ($gutter * 2);
	}
	
	.section {
		min-height: 100%;
		margin: 0;
		padding: $gutter ($gutter * 2);
	}
	.section-header {
		color: $blue;
		margin-bottom: 40px;

		&.client-details-header {
			margin-bottom: 0px;
			text-transform: capitalize;
		}
	}

	info, contact, #portfolio{
		display: flex;
		align-items: center;
		min-height: 100%;
		background: white;
	}
	info, contact {
		background: $lightGrey;
	}
}