@import "variables";
@import "topbar/topbar";
@import "hero/hero";
@import "info/info";
@import "portfolio/portfolio";

html, body {
	width: 100%;
	background: $grey;
	font-family: Helvetica Neue;
}

.main {
	height: 100%;
	@media #{$large-up} {
		padding: 0 $gutter;
	}
}

.footer {
	background: white;
	padding: 0 ($gutter * 2);
	border-top: 5px solid $blue;

	.footer-text, .sm-list  {
		display: inline-block;
		margin: 0;
		padding: 6px;
	}
}