@import "variables";
@import "topbar/topbar";
@import "hero/hero";
@import "info/info";
@import "portfolio/portfolio";
@import "footer/footer";

html, body {
	width: 100%;
	background: $grey;
	font-family: Helvetica Neue;
}

.main {
	height: 100%;
	@media #{$large-up} {
		padding: 0 $gutter;
	}
}